.box {
    position: relative;
    background: #FFF;
    margin: 1rem 0;
    padding-top: 0.6em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    border: 1px solid rgba(34, 36, 38, .15);
}

.box.alerts {
    border-color: red;
    padding-bottom: 0.6em;
}

.box.success {
    border-color: green;
    padding-bottom: 0.6em;
}

input, textarea, select {
    width: 20%;
}

.alert-msg, .success-msg {
    margin-bottom: 4px;
    margin-top: 4px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid rgba(34, 36, 38, .15);
    width: 100%;
}

td, th {
    border: 1px solid #e6e6e6;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #e6e6e6;
}

.link-head {
    font-size: 80%;
}

a {
    background: 0 0;
    color: #6699ff;
    text-decoration: none;
}